# @title   .gitignore
# @version 0.0.1
# @author  @nachtziege
# @date    2023-01-01

# Standard .gitignore ---------------------------
.svn
*~
*.swp

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.Trash

# Misc
.CFUserTextEncoding
.docker
.localized

# User directories in MacOS
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# Dev environment specifics
urls
dev
dev/
code/
output/
.abstract/
.aws/
.azure/
.bash_sessions/
.config/
.docker/
.vscode/
.vscode-insiders/

# Sensitive data
.bash_history
.gitconfig.local
.histfile
.*.log
.local
.viminfo
.zcompdump
.ssh/
.ssb/
.Trash/
.trash/
~/
${HOME}/

# Obsidian
.obsidian/cache